/* Variables */

:root {
  --color-win: #9CBCAA;
  --color-lose: #BA80A3;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #C2D4E7;
  --color-keys: #37474F;
  --color-keys-light: #C2D4E7;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .3s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
  font-family: 'Eczar', serif;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
  background-image: url('../images/backgroundPattern.png');
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  margin: 0;
}

h1 {
  font-size: 30px;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
  box-shadow: .5px .5px 5px #D7D2C7;
}

#btn__reset {
	width: 200px;
	margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

#phrase ul li{
  margin-top: 15px;
}

/* Title */

.header {
  color: #C2D4E7;
  text-shadow: 1px -.20px 3px #B1C1D2;
  font-weight: 700;
}


/* Phrase */

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
}

.space {
  width: 15px;
}

.show {
  color: #fff;
  background-color: #9CBCAA;
  font-size: 20px;
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}


/* Keyboard */

#qwerty {
  border: solid 2px #9CBCAA;
  border-radius: 40px;
  margin: auto;
}

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: #9CBCAA;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #BA80A3;
  color: #FFFFFF;
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}


/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #C2D4E7;
  text-shadow: 1px -.20px 3px #B1C1D2;
  font-weight: 700;
}

.start {
  background-image: url('../images/startOverlay.png');
}

.start a {
  color: #F3F7FA;
}

.win {
  background-color: #809A8C;
}

.win a {
  color: #F3F7FA;
}

.lose {
  background-color: #996986;
}

.lose a {
  color: var(--color-lose);
}
